@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
}
:root {
--dark-moss-green: #606c38ff;
--pakistan-green: #283618ff;
--cornsilk: #fefae0ff;
--earth-yellow: #dda15eff;
--tigers-eye: #bc6c25ff;
--fonte-titulo: "Open Sans", sans-serif;
--fonte-texto: "Lora", serif;
}
body{
background-color: var(--dark-moss-green);
font-family:var(--fonte-texto);
font-size: 16px;

}
.cabecalho{
background-color: var(--pakistan-green);
display: flex;
justify-content: space-between;
align-items: center;
padding: 12px;

}

.cabecalho-img{
    width: 10%;
    border-radius: 100%;
}